<main class="main">
  <div class="main-card">
    <img class="image front-card" src="../assets/images/autum.jpg" alt="autum-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/autum.jpg" alt="autum-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/fishes.jpg" alt="fishes-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/fishes.jpg" alt="fishes-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/flowers.jpg" alt="flowers-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/flowers.jpg" alt="flowers-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/lake.jpeg" alt="lake-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/lake.jpeg" alt="lake-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/road.jpg" alt="road-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/road.jpg" alt="road-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>

  <div class="main-card">
    <img class="image front-card" src="../assets/images/snow.jpg" alt="snow-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
  <div class="main-card">
    <img class="image front-card" src="../assets/images/snow.jpg" alt="snow-card" />
    <img class="image back-card" src="../assets/images/card.jpg" alt="card" />
  </div>
</main>
